.idea
.vscode
/target

# sudjested my other sc tempaltes. 
*/target/

# The erdpy output
output
/smart-contract/wallets/users/testnet-bogdan.pem

# interaction logs
smart-contract/interaction-logs
erdpy.data-storage.json